---
title: Diagnostics
---


%table(data-role='table' class='ui-responsive ui-table' style='width:100%')
  %thead
    %tr
      %th #
      %th Par
      %th IC
  %tbody
    %tr
      %td 0047
      %td 170
      %td 170
    %tr
      %td 0047
      %td 170
      %td 170
    %tr
      %td 0047
      %td 170
      %td 170
    %tr
      %td Address
      %td ROM
      %td 012            