---
title: Electro Dacus
---

%ul{"data-inset" => "true", "data-role" => "listview"}
  %li(data-icon="gear")
    = link_to "/monitoring.html" do
      %h3 Monitoring
      %p Battery monitoring
      %p.ui-li-count
        85%
  %li(data-icon="edit")
    %a{:href => "/params.html"} 
      %h3 Parameters
      %p Set parameters
  %li(data-icon="gear")
    %a{:href => "/device.html"} 
      %h3 Device
      %p Device settings
  %li(data-icon="gear")
    %a{:href => "/diagnostics.html"} 
      %h3 Diagnostics
  %li(data-icon="info")
    %a{:href => "/about.html"} 
      %h3
        About
      %p 
        %b Electro Dacus
        %em Solar Battery Management System    
  / %li
  /   %a{:href => "#"} BMW
  / %li
  /   %a{:href => "#"} Cadillac
  / %li
  /   %a{:href => "#"} Ferrari