---
title: Solar Calculator
---

= partial 'partials/watts/index'
= partial 'partials/panels/index'
%p
  .btn-group{"aria-label" => "...", :role => "group"}
    %button.btn.btn-default.active{:type => "button"} Grid-tied
    %button.btn.btn-default{:type => "button"} Off-grid
    %button.btn.btn-default{:type => "button"} Hybrid

#grid-tied= partial 'partials/grid_tied/index'

= partial 'partials/batts/index'