---
title: Parameters
---

%ul{"data-inset" => "true", "data-role" => "listview"}

  %li
    %h3 
      LifePO4
    %p Cell type

  %li
    %h3 8 
    %p Number of cells   

  %li
    %h3 18ah
    %p Capacity  
  
  %li
    %h3 3.55
    %p Over voltage  

  %li
    %h3 10
    %p Over voltage  Delay    